<h1>New note</h1>
<div class="form-container">
	<%= form_for :note, url: notes_path do |f| %>
		<h2><%= f.text_field :title %></h2>

		<p><%= f.text_area :text %></p>

		<%= f.submit %>
	<% end %>
</div>